@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Alice', serif;
    
    
}
nav ul{
    display: flex;
    list-style: none;
    height: 50px;
    background-color: black;
    color: white;
    align-items: center;
    
}
.brand img{
   width: 130px;

}
nav ul li{
    
    padding: 0 20px;
}
.container{
    min-height: 68vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 25px;
    background-image: url('bg.jpg');
}

.bottom{
position: sticky;
height: 100px;
background-color: black;
bottom: 0;
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.icons{
    margin-top: 10px;

}
.icons i{
    cursor: pointer;
    padding: 0 5px;
}
#myprogressbar{
    width: 80vw;
    cursor: pointer;
}
.songitemcontainer{
    margin-top: 30px;
}
.songitem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    width: 40%;
    margin: 5px 0 ;
    justify-content: space-between;
align-items: center;
border-radius: 12px;
font-family: 'Alice', serif;
}
.songitem img{
    width: 40px;
    border-radius: 20px;
    padding: 0 5px;
    
}
.timestamp{
    padding: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 10vw;
    margin: 0 10px;
    font-family: 'Alice', serif;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}